
@{
    ViewBag.Title = "AddOffice";
}


<form>
    <div class="form-group">
        <label for="formGroupExampleInput"><strong>Officer Name</strong></label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2"><strong>Officer FullName</strong></label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="formGroupExampleInput2 "><strong>Officer Employee Number</strong></label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
        </div>
        <div class="form-group col-md-6">
            <label for="formGroupExampleInput2 "><strong>Police Station</strong></label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="formGroupExampleInput2"><strong>NIC </strong></label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
        </div>
        <div class="form-group col-md-6">
            <label for="formGroupExampleInput2"><strong>Telephone </strong></label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label for="formGroupExampleInput2"><strong>Birthday</strong></label>
            <input type="date" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
        </div>
        <div class="form-group col-md-6 align-self-end">
            <label for="formGroupExampleInput2"><strong>Joined Date </strong></label>
            <input type="date" class="form-control " id="formGroupExampleInput2" placeholder="Another input">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label for="formGroupExampleInput2"><strong>Marrid Status</strong></label>
            <select class="form-control" id="sel1">
                <option>Married</option>
                <option>Unmarried</option>

            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="formGroupExampleInput2"><strong>sex</strong></label>
            <select class="form-control" id="sel1">
                <option>Male</option>
                <option>Female</option>

            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="formGroupExampleInput2"><strong>Designation</strong></label>
            <select class="form-control" id="sel1">
                <option>Costapal</option>
                <option>DIG</option>
            </select>
        </div>
    </div>
    
</form>

